body {
    background-color: bisque;
}

ul {
    align-content: space-between;
    font-size: large;
    margin: 2px solid black;

}

.image {
    align-items: flex-end;
    border-radius: 80%;
}

.menu {
    justify-content: center;
}

Biography {
    font-size: larger
}

nav {
    background-color: grey;   
    width: 100%;
}
    

.button3, .button2, .button1 {
    background-color: whitesmoke;
    border-radius: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.div1, .div2 {
    border: 1px solid black;
    width: 320px;
    padding: 20px 20px 20px;
    margin-left: 20px;
    text-align: center;
;
}

.bottom-nav {
    padding: 20px;
    background-color: grey;
}

.menu1 {
   text-decoration: none;

}


.menu2 {
align-self: center;
padding: 10px;
background-color: lightyellow;
}

